<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../css/profileStyles.css">
    <%- include('../partials/head.ejs') %>
    <title>Sportix | Listado de Usuarios</title>
</head>

<body>
    <nav class="opciones">
        <a href="/users/usersList"> ← Listado de Usuarios</a>
        <a href="/users/register">Crear un nuevo Usuario →</a>
    </nav>
    <h1>SPORTIX | Detalle de Usuario</h1>
    <main class="profile">
        <section class="container">
            <img src="../../img/profileImages/<%= user.file %> " class="profileImg">
            <div class="profileData">
            <h2><%= user.fullName %></h2>
            <p><%= user.email %> </p>
            </div>
        </section>
        <section class="detail">
            <div class="detailData">
                <h1>Datos personales</h1>
                <p>EMAIL: <%= user.email %></p>
                <p>TELEFONO: <%= user.phone %></p>
                <p>CUMPLEAÑOS: <%= user.birthday %></p>
                <p>PAIS: <%= user.countries.name %></p>
                <p>PROVINCIA: <%= user.states.name %></p>
                <p>GENERO: <%= user.genders.name %></p>
                <p>ROL: <%= user.roles.name %></p>
            </div>         
        </section>
    </main>

</body>
</html>