<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/error.css">
    <title>Houston - ¡We have an ERROR!</title>

</head>
<body>
	<h1><%= message %></h1>
	<h2><%= error.status %></h2>
	<p>Error trying to access to: <b><%= path %></b></p>
	<pre><i><%= error.stack %></i></pre>
</body>
 <%- include('../partials/footer.ejs') %>

</html>