<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/profileStyles.css">
    <%- include('../partials/head.ejs') %>
    <title>Perfil de <%= user.fullName %></title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main class="profile">
      <section class="container">
            <img src="../img/profileImages/<%= user.file %> " class="profileImg">
            <div class="profileData">
              <h2><%= user.fullName %></h2>
              <p><%= user.email %> </p>
            </div>
      </section>
      <section class="users">
        <div class="usersData">
          <h1>Mis datos personales</h1>
          <p><%= user.email %></p>
          <p><%= user.tel %></p>
          <p><%= user.birthday %></p>
        </div>
        <div class="usersOrder">
          <h1>Mis pedidos</h1>

        </div>

      </section>
    </main>

   <%- include('../partials/footer.ejs') %> 
    
</body>
</html>