<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/login.css">
    <%- include('../partials/head.ejs') %>
    <title>Inicia Sesion</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
 
    <main>
		<div class="container">
			<div>
				<div>
					<h2>Hi <%= user.fullName %> </h2>
					<img src="../img/profileImages/<%= user.file %> ">
					<br>
					<br>
					<div class="alert alert-success"><%= user.email %> </div>
				</div>
			</div>
		</div>   
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->
    
</body>
</html>