<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/styleRegister.css"> 

    <%- include('../partials/head.ejs') %>
        <title>Registrate</title>
</head>
<body>
    <main>
        <nav class="opciones">
            <a href="/"> ← Volver al home</a>
        </nav>

        <div class="container" id="container">
            
            <div class="form-container sign-in-container">
                <form class="validation" id="formulario" method="POST" action="/users/register" enctype="multipart/form-data">

                    <div class="selector-box" >
                        <!-- Grupo: Nombre -->
                        <div id="grupo__fullName">
                            <div class="formulario__grupo-input">
                                <input class="name <%= locals.errors && errors.fullName ? 'is-invalid' : null %>" type="text" name="fullName" id="fullname" placeholder="Nombre Completo"  minlength="2">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El Nombre tiene que tener al menos 2 dígitos y no puede tener caracteres especiales.</p>    
                            <% if (locals.errors && errors.fullName) { %>
                                <div class="text-danger">
                                    <%= errors.fullName.msg %> 
                                </div>
                            <% } %>
                        </div>
                        
                        <!-- Grupo: Contraseña -->
                        <div id="grupo__password">
                            <div class="formulario__grupo-input">
                                <input type="password" id="password" name="password"  minlength="8" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"  placeholder="Contraseña"> 
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">La contraseña tiene que ser de 8 a 12 dígitos.</p>
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %>
                                </div>
                            <% } %>
                        </div>

                         <!-- Grupo: Validacion Contraseña  -->
                         <div id="grupo__password2">
                            <div class="formulario__grupo-input">
                                <input type="password" id="password2" name="password2"  minlength="8" class="form-control"  placeholder="Repetir Contraseña"> 
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">La contraseña no coincide.</p>
                        </div>
                        
                        <!-- Grupo: Correo Electronico -->
                        <div id="grupo__email">
                            <div class="formulario__grupo-input">
                                <input 
                                    type="email" 
                                    name="email"
                                    class="form-control email <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                                    value="<%= locals.oldData ? oldData.email : null %>"
                                    placeholder="Correo Electrónico">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                            
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>    

                        <select name="gender" class="form-select <%= locals.errors && errors.gender ? 'is-invalid' : null %>">
                            <option value="#" selected disabled>Seleccione su genero...</option>
                            <% genders.forEach(gender => { %>
                              <option value="<%=gender.id %>"><%=gender.name %></option>
                            <% }); %>
                        </select>

                        <div>
						    <div>
                                <input id="birthday" type="date" name="birthday">
                            </div>
                        </div>

                        <!-- Grupo: Teléfono -->
                        <div id="grupo__phone">
                            <div class="formulario__grupo-input">
                                <input type="tel"  placeholder="Numero de telefono" name="phone" max="10">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
				            </div>
                            <p class="formulario__input-error">El telefono solo puede contener numeros y el maximo son 14 dígitos.</p>
                        </div>

                        <select name="country" class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
                            <option value="#" selected disabled>Seleccione su país...</option>
                            <% countries.forEach(country => { %>
                              <option value="<%=country.id %>"><%=country.name %></option>
                            <% }); %>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>

                        <select name="state" class="form-select <%= locals.errors && errors.state ? 'is-invalid' : null %>">
                            <option value="#" selected disabled>Seleccione su provincia...</option>
                            <% states.forEach(state => { %>
                              <option value="<%=state.id %>"><%=state.name %></option>
                            <% }); %>
                        </select>
                        <% if (locals.errors && errors.state) { %>
                            <div class="text-danger">
                                <%= errors.state.msg %>
                            </div>
                        <% } %>

                        <input type="file" name="file" class="form-control <%= locals.errors && errors.file ? 'is-invalid' : null %>">
								<% if (locals.errors && errors.file) { %>
									<div class="text-danger">
										<%= errors.file.msg %>
									</div>
								<% } %>

                        <select name="roles" class="form-select <%= locals.errors && errors.roles ? 'is-invalid' : null %>">
                            <option value="#" selected disabled>Seleccione su rol...</option>
                            <% roles.forEach(rol => { %>
                                <option value="<%=rol.id %>"><%=rol.name %></option>
                            <% }); %>
                        </select>

                        <!-- Grupo: Terminos y Condiciones -->
                        <div class="formulario__grupo" id="grupo__terminos">
                            <label class="formulario__label">
                                <input class="formulario__checkbox" type="checkbox" name="terminos" id="terminos">
                                Acepto los Terminos y Condiciones
                            </label>
                        </div>

                        <div class="formulario__mensaje" id="formulario__mensaje">
                            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                        </div>

                        <div >
                            <button type="submit">REGISTRARSE</button>
                            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    
                    <div class="overlay-panel overlay-right">
                        <h1>Formulario de registro</h1>
                        <br>
                        <h2>Hazte miembro!</h2>
                        <p>Unete a nuestra comunidad con tu perfil obtendras acceso anticipado a los mejores productos deportivos</p>
						<div class="acuerdos">                
						<div>
							<input type="checkbox" name="newsletter" id="opt-in">
							<label for="opt-in">Registrate para recibir correos electronicos del sitio con actualizaciones de productos, ofertas y beneficios como miembros</label>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/formulario.js"></script>
    </main>
</body>

</html>