<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/styleRegister.css"> 

    <%- include('../partials/head.ejs') %>
        <title>Inicia Sesion</title>
</head>
<body>
    <main>
        <nav class="opciones">
            <a href="/"> ← Volver al home</a>
        </nav>

        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="POST" action="/users/register" enctype="multipart/form-data">
                    <h1>Formulario de registro</h1>
                    <div>
                        <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                         <% } %>
                    </div>
                    <div class="selector-box">
                        <input type="text" name="fullName" <%= locals.errors && errors.fullName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullName : null %>" placeholder="Nombre Completo">
                        <% if (locals.errors && errors.fullName) { %>
                            <div class="text-danger">
                                <%= errors.fullName.msg %> 
                            </div>
                        <% } %>
                    
                        <input type="password" name="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Password"
                        >
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>  

                        <input 
                            type="text" 
                            name="email" 
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                            placeholder="Correo Electrónico"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>

                        <select name="gender" class="form-select <%= locals.errors && errors.gender ? 'is-invalid' : null %>">
                            <option value="">Genero</option>
                            <option value="#" selected disabled>Seleccione su categoría...</option>
                            <% gender.forEach(gender => { %>
                              <option value="<%=gender.id %>"><%=gender.name %></option>
                            <% }); %>
                        </select>

                        
						<input type="date" placeholder="AAAA/MM/DD"  name="birthday" required="require" value="<%= locals.oldData ? oldData.birthday : null %>">
					    
                        <input type="tel"  placeholder="Numero de telefono" name="phone" required="require">

                        <select name="country" class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
                            <option value="">Elegí un país</option>
                            <%  let countries = ['Argentina', 'Bolivia', 'Brasil', 'Colombia', 'Chile', 'Ecuador', 'Paraguay', 'Perú', 'Uruguay', 'Venezuela'];%>
                            <% for (const oneState of countries) { %>
                                <option 
                                    value="<%= oneState %>"
                                    <%= locals.oldData && (oneState === oldData.country) ? 'selected' : null %> 
                                > <%= oneState %> </option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>

                        <select name="state" class="form-select <%= locals.errors && errors.state ? 'is-invalid' : null %>">
                            <option value="">Elegí una provincia</option>
                            <%  let states = ['Otro', 'Buenos Aires', 'CABA', 'Catamarca', 'Chaco', 'Chubut', 'Cordoba', 'Corrientes', 'Entre Rios', 'Formosa', 'Jujuy', 'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquen', 'Rio Negro', 'Salta', 'Santa Cruz', 'Santa Fe', 'San Juan', 'San Luis', 'Santiago del Estero', 'Tucuman', 'Tierra del Fuego'];%>
                            <% for (const oneState of states) { %>
                                <option 
                                    value="<%= oneState %>"
                                    <%= locals.oldData && (oneState === oldData.state) ? 'selected' : null %> 
                                > <%= oneState %> </option>
                            <% } %>
                        </select>
                        <% if (locals.errors && errors.state) { %>
                            <div class="text-danger">
                                <%= errors.state.msg %>
                            </div>
                        <% } %>

                        <input type="file" name="file" class="form-control <%= locals.errors && errors.file ? 'is-invalid' : null %>">
								<% if (locals.errors && errors.file) { %>
									<div class="text-danger">
										<%= errors.file.msg %>
									</div>
								<% } %>

                                <select name="roles" class="form-select <%= locals.errors && errors.roles ? 'is-invalid' : null %>">
									<option value="">Elegí un Rol </option>
									<%  let roles = ['Cliente', 'Admin'];%>
									<% for (const oneRol of roles) { %>
										<option value="<%= oneRol %>" <%= locals.oldData && (oneRol === oldData.roles) ? 'selected' : 'Cliente' %>> 
											<%= oneRol %> 
										</option>
									<% } %>
								</select>

                    </div>
                   
                    <input class="send" type="submit" value="REGISTRARSE">
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Hazte miembro!</h1>
                        <p>Unete a nuestra comunidad con tu perfil obtendras acceso anticipado a los mejores productos deportivos</p>
						<div class="acuerdos">                
						<div>
							<input type="checkbox" name="newsletter" id="opt-in">
							<label for="opt-in">Registrate para recibir correos electronicos del sitio con actualizaciones de productos, ofertas y beneficios como miembros</label>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->

</body>

</html>