<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../css/styleRegister.css"> 

    <%- include('../partials/head.ejs') %>
        <title>Editar Usuario</title>
</head>
<body>
    <main>
        <nav class="opciones">
            <a href="/"> ← Volver al home</a>
        </nav>

        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form method="PUT" action="/users/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data">
                    
                    <div class="selector-box">
                        <input type="text"  value="<%= user.fullName %>" name="fullName <%= locals.errors && errors.fullName ? 'is-invalid' : null %>" value="<%= locals.oldData ? oldData.fullName : null %>" placeholder="Nombre Completo">
                        <% if (locals.errors && errors.fullName) { %>
                            <div class="text-danger">
                                <%= errors.fullName.msg %> 
                            </div>
                        <% } %>
                    
                        <input type="password" value="<%= user.password %>" name="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" placeholder="Password">
                        <% if (locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>  

                        <input 
                            type="text"
                            value="<%= user.email %>"  
                            name="email" 
                            class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                            placeholder="Correo Electrónico"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>

                        <select  value="<%= user.genders.id %>"  name="gender" class="form-select <%= locals.errors && errors.gender ? 'is-invalid' : null %>">
                            
                            <% genders.forEach(gender => { %>
                              <option value="<%=gender.id %>"><%=gender.name %></option>
                            <% }); %>
                            
                        </select>

                        
						<input type="date" value="<%= user.birthday %>" placeholder="AAAA/MM/DD"  name="birthday" required="require" value="<%= locals.oldData ? oldData.birthday : null %>">
					    
                        <input type="tel"  value="<%= user.phone %>" placeholder="Numero de telefono" name="phone" required="require">

                        <select value="<%= user.countries%>" name="country" class="form-select <%= locals.errors && errors.country ? 'is-invalid' : null %>">
                            
                            <% countries.forEach(country => { %>
                              <option value="<%=country.id %>"><%=country.name %></option>
                            <% }); %>
                            
                        </select>
                        <% if (locals.errors && errors.country) { %>
                            <div class="text-danger">
                                <%= errors.country.msg %>
                            </div>
                        <% } %>

                        <select value="<%= user.states.id %>" name="state" class="form-select <%= locals.errors && errors.state ? 'is-invalid' : null %>">
                            
                            <% states.forEach(state => { %>
                              <option value="<%=state.id %>"><%=state.name %></option>
                            <% }); %>

                        </select>
                        <% if (locals.errors && errors.state) { %>
                            <div class="text-danger">
                                <%= errors.state.msg %>
                            </div>
                        <% } %>

                        <div class="containerImagen">
                            <input type="file" value="<%= user.file %>" name="file" class="form-control <%= locals.errors && errors.file ? 'is-invalid' : null %>">
                                    <% if (locals.errors && errors.file) { %>
                                        <div class="text-danger">
                                            <%= errors.file.msg %>
                                        </div>
                                    <% } %>

                            <figure>
                                <img  src="/img/profileImages/<%= user.file %> " alt="Imagen">
                            </figure>
                        </div>     

                        <select value="<%= user.roles %>" name="roles" class="form-select <%= locals.errors && errors.roles ? 'is-invalid' : null %>">
                            
                            <% roles.forEach(rol => { %>
                                <option value="<%=rol.id %>"><%=rol.name %></option>
                            <% }); %>

                        </select>

                    </div>
                    <button type="submit">EDITAR</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-right">
                        <h1>Editar Usuario </h1>
                        <h1><%= user.fullName %> </h1>
                    </div>
                </div>
            </div>
        </div>

        <footer>
    </main>

    <!-- <%- include('../partials/footer.ejs') %> -->

</body>

</html>