<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/list.css">
    <%- include('../partials/head.ejs') %>
    <title>Sportix | Listado de Usuarios</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <nav class="opciones">
                <a href="../products"> ← Listado de Productos</a>
                <a href="/users/register">Crear un nuevo Usuario →</a>
            </nav>

                <h1>SPORTIX | Listado de Usuarios</h1>
                <div class="table-wrapper">
                    <table class="fl-table">
                        <tr>
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Pais de Nacimiento</th>
                                    <th>Imagen</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                                </thead>
                        <tbody>                   
                             <% for(let dato of dataUsers) { %> 
                                <tr>
                                    <td> <%= dato.id %> </td>
                                    <td> <%= dato.fullName %> </td>
                                    <td> <%= dato.email %> </td>
                                    <td> <%= dato.birthday %> </td>
                                    <td> <%= dato.country %> </td>
                                    <td> <img src="../img/profileImages/<%= dato.file %>">  </td>
                                    <td><a href="/users/userEdit/<%= dato.id %>"><button class="editar">Editar Usuario</button> </a></td>
                                    <td><a href="/users/<%= dato.id %>/delete"><button class="borrar">Eliminar</button></a> </td>
                                   </tr>
                    <% } %> 
                </table>
        </section>
    </main>

</body>
</html>