<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../css/productRegister.css">
    <link rel="stylesheet" href="../../css/multiple-select.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Sportix | Crear Nuevos Productos </title>

</head>
<body>
  <main>
    <div class="form">
        <nav class="opciones">
            
            <a href="/"> ← Volver al home</a>
            <a href="/products">Volver a Productos →</a>
        </nav>
        <div class="title">Nuevo Producto</div>
        <div class="subtitle">SPORTIX</div>
        <form method="POST" class="createForm" id="CreateForm" action="/productCreate" enctype="multipart/form-data">
        <!-- Grupo: Name -->
          <div id="grupo__name">
            <div class="formulario__grupo-input input-container ic1">
              <input id="nombre" class="input name" type="text" placeholder=" " name="name" minlength="5">
              <div class="cut"></div>
              <label for="nombre" class="placeholder">Nombre</label>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
              <p class="formulario__input-error">El Nombre tiene que tener al menos 5 dígitos y no puede tener caracteres especiales.</p>            
          </div>

        <!-- Grupo: Description -->
        <div id="grupo__description">
            <div class="formulario__grupo-input input-container ic1">
                <input class="input description" placeholder=" " name="description" id="description" cols="30" rows="5" minlength="20"></input>
                <div class="cut"></div>
                <label for="description" class="placeholder">Descripcion</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>  
            </div>
            <p class="formulario__input-error">El campo tiene que tener al menos 20 dígitos.</p>
            </div>
            
        <!-- Grupo: Category -->
        <div class="formulario__grupo-input input-container ic1">
            <select class="input"  name="category" id="category">
            <div class="cut"></div>
            <option value="#" selected disabled>Seleccione su Categoria...</option>
                <% categories.forEach(category => { %>
                    <option value="<%=category.id %>"><%=category.category %></option>
                <% }); %>
            </select>
        </div>
            
            <!-- Grupo: Size -->
            <div class="input-container ic2">
            <select id="ms" class="input" name="size" id="my-select" multiple="multiple">
                <div class="cut"></div>
                <option value="#" selected disabled>Seleccione su talle...</option>
                <% sizes.forEach(size => { %>
                <option value="<%=size.id %>"><%=size.sizes %></option>
                <% }); %>
            </select>
            </div>
            
            <!-- Grupo: date -->
            <div class="input-container ic2">
                <div class="cut"></div>
                <input class="input date" type="date" placeholder="DD-MM-AAAA"  name="date" ><br>
            </div>

            <!-- Grupo: Price -->
            <div class="input-container ic2">
                <input class="input" type="number" placeholder="Precio del Producto"  name="price" step="0.01" ><br>
            </div>

            <!-- Grupo: Genre -->
            <div class="input-container ic2">
                <select class="input" name="gender">
                    <option value="#" selected disabled>Seleccione su genero...</option>
                        <% genders.forEach(gender => { %>
                        <option value="<%=gender.id %>"><%=gender.name %></option>
                        <% }); %>
                </select>
            </div>

            <!-- Grupo: brand -->
            <div class="input-container ic2">
                <select class="input" name="brand">
                <option value="#" selected disabled>Seleccione su marca...</option>
                    <% brands.forEach(brand => { %>
                        <option value="<%=brand.id %>"><%=brand.name %></option>
                    <% }); %>
                </select>
            </div>

            <!-- Grupo: File -->
            <div class="input-container ic2">
            <input class="input" id="seleccionArchivos" type="file" name="file" accept=".jpg, .jpeg, .png, .gif" multiple>
            <div class="cut"></div>
            <label for="email" class="placeholder">Imagen </label>
            <img id="imagenPrevisualizacion">
            </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
            </div>

            
            <button type="text" class="submit">Crear</button>
            <button type="reset" class="submit">Limpiar Contenido</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="../js/multiple-select.js" ></script> 
    <script src="../js/newProduct.js"></script>
  </main>
</body>
</html>
