<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../css/productRegister.css">
    <title>Sportix | Crear Nuevos Productos </title>

</head>
<body>
  <header>
    <!-- <nav>
        <a href="/products">Listado de Productos</a>
        <a href="/users/register">Crear un nuevo Usuario</a>
    </nav> -->
  </header>
  <main>
    <div class="form">
        <div class="title">Nuevo Producto</div>
        <div class="subtitle">SPORTIX</div>
        <form method="POST" class="createForm" id="CreateForm" action="/productCreate" enctype="multipart/form-data">
        <!-- Grupo: Name -->
          <div id="grupo__name">
            <div class="formulario__grupo-input input-container ic1">
              <input id="nombre" class="input name" type="text" placeholder=" " name="name" minlength="5">
              <div class="cut"></div>
              <label for="nombre" class="placeholder">Nombre</label>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
              <p class="formulario__input-error">El Nombre tiene que tener al menos 5 dígitos y no puede tener caracteres especiales.</p>            
          </div>

        <!-- Grupo: Description -->
        <div id="grupo__description">
            <div class="formulario__grupo-input input-container ic1">
                <input class="input description" name="description" id="description" cols="30" rows="5" minlength="20"></input>
                <div class="cut"></div>
                <label for="description" class="placeholder">Descripcion</label>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>  
            </div>
            <p class="formulario__input-error">El campo tiene que tener al menos 20 dígitos.</p>
            </div>
            
        <!-- Grupo: Category -->
        <div class="formulario__grupo-input input-container ic1">
            <select class="input"  name="category" id="category">
            <div class="cut"></div>
            <option value="#" selected disabled>Seleccione su Categoria...</option>
                <% categories.forEach(category => { %>
                    <option value="<%=category.id %>"><%=category.category %></option>
                <% }); %>
            </select>
        </div>
            
            <!-- Grupo: Size -->
            <div class="input-container ic2">
            <select class="input" name="size">
                <div class="cut"></div>
                <option value="#" selected disabled>Seleccione su talle...</option>
                <% sizes.forEach(size => { %>
                <option value="<%=size.id %>"><%=size.sizes %></option>
                <% }); %>
            </select>
            </div>
            
            <!-- Grupo: date -->
            <div class="input-container ic2">
                <div class="cut"></div>
                <input class="input date" type="date" placeholder="DD-MM-AAAA"  name="date" ><br>
            </div>

            <!-- Grupo: Price -->
            <div class="input-container ic2">
                <input class="input" type="number" placeholder="Precio del Producto"  name="price" step="0.01" ><br>
            </div>

            <!-- Grupo: Genre -->
            <div class="input-container ic2">
                <select class="input" name="gender">
                    <option value="#" selected disabled>Seleccione su genero...</option>
                        <% genders.forEach(gender => { %>
                        <option value="<%=gender.id %>"><%=gender.name %></option>
                        <% }); %>
                </select>
            </div>

            <!-- Grupo: brand -->
            <div class="input-container ic2">
                <select class="input" name="brand">
                <option value="#" selected disabled>Seleccione su marca...</option>
                    <% brands.forEach(brand => { %>
                        <option value="<%=brand.id %>"><%=brand.name %></option>
                    <% }); %>
                </select>
            </div>

            <!-- Grupo: File -->
            <div class="input-container ic2">
            <input class="input" type="file" name="file" accept=".jpg" multiple>
            <div class="cut cut-short"></div>
            <label for="email" class="placeholder">Imagen </label>
            </div>
            <button type="text" class="submit">Editar</button>
        </form>
    </div>
    <script src="../js/newProduct.js"></script>   
  </main>
</body>
</html>
