<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Sportix | Detalle de Producto</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
<main id="maincontent">
    <section>
            <div>
                <% for (let dato of productos){ %>
                    <% if(dato.id == 12) {%>
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#"><%= dato.category %></a></li>
                    </ul>
                </nav>
               
            </div>
    </section>
    <section> 
            <div  class="detail"> 
              
                <div>
                    <img class= "imagen" src= "<%= dato.image %>" alt="<%= dato.name %>">
                </div>
                <div class="child">

                    
                    <div>
                        <h1> <%= dato.name %></h1>
                        
                    </div>
                    <div class="columnprices">
                        <span class="prices">
                            <span>$<%= dato.price %></span>
                            <span class="oldprice"><%= dato.oldprice %></span>
                            <span class="saving"><%= dato.discount%> </span>
                        </span>
                    </div>
                    <hr class="separador">
                
                    <div class="column-size">
                    <label>TALLE</label>
                    <div>
                        <ul class="atributos">
                            <li class="atributos-sizes">XS</li>
                            <li class="atributos-sizes">S</li>
                            <li class="atributos-sizes">M</li>
                            <li class="atributos-sizes">L</li>
                            <li class="atributos-sizes">XL</li>
                        </ul>
                    </div>
                    </div>
                    <hr class="separador">
                    <div class="agregar">
                        <div class="quantity">
                            <input class="input-qty" type="txtNumber" min="1" value="1">
                        </div>
                        <div class="container-comprar">
                            <button class="comprar"><a href="/productCart"></a>Agregar al Carrito</a></button>
                            <i class="fas fa-light fa-heart-circle-plus"></i>
                        </div>
                    </div>
                    <div class="botones-mod">
                        <button class="editar"><a href="/productCreate">Editar Producto</a></button>
                        <button class="borrar">Borrar Producto</button>
                    </div>
                    
                </div>
                
            </div>
    </section>
    <hr class="separador2">
    <section>
            <div class="descripcion-producto">
                <h4>DESCRIPCION</h4>
                <br>
                <p><%= dato.description %></p>
                <br>
                <ul>
                    <li><%= dato.gendre %>: Hombre</li>
                    <li>Adecuado para: Entrenamiento.</li>
                    <li>Material: Poliéster reciclado.</li>
                    <li>Cuello: Redondo</li>
                    <li>Manga: Corta</li>
                    <li>Calce: Regular</li>
                    <li>Equipo: Boca Juniors</li>
                    <li>Escudo: Bordado</li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: <%= dato.brand %></li>
                </ul>
            </div>
    </section>
    <% } %>
    <% } %>
    <hr class="separador2">
    <section>
            <div>
                <section class="Container-Opps">  
                    <h3>RECOMENDANDO PARA VOS</h3>
                    <section class="Opps">
                       <div class="boxOpps">
                            <a href=""><img src="img/Short-Nike.jpg" class="imgRecomendado"></a> 
                            <span class="newPrice">
                            <div>$4.599,00</div>
                            <span class="priorPrice">$9.199,00</span>
                            <span class="discuount"> 50% OFF </span>
                            </span>
                   </div>
                       <div class="boxOpps">
                           <a href=""><img src="img/Guantes-Arquero-Feline.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$8.799,00</div>
                           <span class="priorPrice">$10.999,00</span>
                           <span class="discuount"> 20% OFF </span>
                       </div>
               
                       <div class="boxOpps">
                           <a href=""><img src="img/Botines-Nike-Phantom.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$9.499,00</div>
                           <span class="priorPrice">$10.923,00</span>
                           <span class="discuount"> 15% OFF </span>
                       </div>
                   </section> 
                </section>  
            </div>
    </section>
</main>
<hr>

    <%- include('../partials/footer.ejs') %>

</body>
</html>