<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/productDetail.css">
    <title>Sportix | Detalle de Producto</title>
</head>
<body>
    <!-- <header>
        <div class="login-dektop">
            <a href="/register"><button>Registrarse </button></a>
            <span> | </span>
            <a href="/login"><button>Log in</button></a>
        </div>
        <div>
            <div class="menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <a href="/home">
                <div class="logo">
                <img src="img/mob-logo.svg">
                </div>
            </a>
                    
            <nav class="nav">
                <ul>
                    <li><a href="">Adultos</a></li>
                    <li><a href="">Niños</a></li>
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Colecciones</a></li>
                    <li><a href="">Ofertas</a></li>
                </ul>
            </nav>
            <form class="search" action= "http://localhost:3030/home/search" method="GET" role="search">
                <input type="text" name= "searchBar" placeholder="Buscar..">
                <button type="submit" class="nav-search" tabindex="4"><i class="fas fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="searchmobile"><a href="#"><i class="fas fa-solid fa-magnifying-glass"></i></a>
                <a href="/productCart"><i class="fa-solid fa-bag-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart-circle-check"></i></a>
            </div>
        </div>
    </header> -->
    <%- include('../partials/header.ejs') %>
<main id="maincontent">
    <section>
            <div>
                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/home">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li>Buzos</li>
                    </ul>
                </nav>
            </div>
    </section>
    <section> 
            <div  class="detail"> 
                <% for(let dato of productos){ %>
                <div>
                    <img class= "imagen" src= "<%= dato.img %>" alt="Camiseta Boca Juniors">
                </div>
                <div class="child">

                    
                    <div>
                        <h1> <%= dato.nombre %></h1>
                        
                    </div>
                    <div class="columnprices">
                        <span class="prices">
                            <span><%= dato.precio %></span>
                            <span class="oldprice"><%= dato.descuento %></span>
                            <span class="saving"><%= dato.descripcion %> </span>
                        </span>
                    </div>
                    <hr class="separador">
                
                    <div class="column-size">
                    <label>TALLE</label>
                    <div>
                        <ul class="atributos">
                            <li class="atributos-sizes">XS</li>
                            <li class="atributos-sizes">S</li>
                            <li class="atributos-sizes">M</li>
                            <li class="atributos-sizes">L</li>
                            <li class="atributos-sizes">XL</li>
                        </ul>
                    </div>
                    </div>
                    <hr class="separador">
                    <div class="agregar">
                        <div class="quantity">
                            <input class="input-qty" type="txtNumber" min="1" value="1">
                        </div>
                        <div class="container-comprar">
                            <button class="comprar"><a href="/productCart"></a>Agregar al Carrito</a></button>
                            <i class="fas fa-light fa-heart-circle-plus"></i>
                        </div>
                    </div>
                    <div class="botones-mod">
                        <button class="editar"><a href="/productCreate">Editar Producto</a></button>
                        <button class="borrar">Borrar Producto</button>
                    </div>
                    
                </div>
                <% } %>
            </div>
    </section>
    <hr class="separador2">
    <section>
            <div class="descripcion-producto">
                <h4>DESCRIPCION</h4>
                <br>
                <p>La camiseta adidas de Boca Juniors edición Visitante 2021 se inspira en el diseño retro de los 80's. Su tejido suave absorbe el sudor para mantenerte cómodo y seguro en el gimnasio o alentando en La Bombonera. Lucí el escudo tejido del Xeneixe que demuestra tu amor por los colores.</p>
                <br>
                <ul>
                    <li>Género: Hombre</li>
                    <li>Adecuado para: Entrenamiento.</li>
                    <li>Material: Poliéster reciclado.</li>
                    <li>Cuello: Redondo</li>
                    <li>Manga: Corta</li>
                    <li>Calce: Regular</li>
                    <li>Equipo: Boca Juniors</li>
                    <li>Escudo: Bordado</li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    <li>Origen: Nacional</li>
                    <li>Marca: Adidas</li>
                </ul>
            </div>
    </section>
    <hr class="separador2">
    <section>
            <div>
                <section class="Container-Opps">  
                    <h3>RECOMENDANDO PARA VOS</h3>
                    <section class="Opps">
                       <div class="boxOpps">
                            <a href=""><img src="img/Short-Nike.jpg" class="imgRecomendado"></a> 
                            <span class="newPrice">
                            <div>$4.599,00</div>
                            <span class="priorPrice">$9.199,00</span>
                            <span class="discuount"> 50% OFF </span>
                            </span>
                   </div>
                       <div class="boxOpps">
                           <a href=""><img src="img/Guantes-Arquero-Feline.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$8.799,00</div>
                           <span class="priorPrice">$10.999,00</span>
                           <span class="discuount"> 20% OFF </span>
                       </div>
               
                       <div class="boxOpps">
                           <a href=""><img src="img/Botines-Nike-Phantom.jpg" class="imgRecomendado"></a>
                           <span class="newPrice">
                           <div>$9.499,00</div>
                           <span class="priorPrice">$10.923,00</span>
                           <span class="discuount"> 15% OFF </span>
                       </div>
                   </section> 
                </section>  
            </div>
    </section>
</main>
<hr>
    <!-- <footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <div class="footercolumn1">
                <h2>Acerca de</h2>
                <p>Quiemes Somos</p>
                <p>Trabaja con Nosotros</p>
                <p>Terminos y Condiciones</p>
                <p><i class="fas fa-solid fa-location-pin"></i>Tiendas</p>
            </div>
            <div class="footercolumn2">
                <h2>Ayuda</h2>
                <p>Cambios y Devoluciones</p>
                <p>Metodos de Pago</p>
                <p>Seguimientos de Pedidos</p>
            </div>
            <div class="footercolumn3">
                <h2>Atención al Cliente</h2>
                <p><i class="fas fa-solid fa-envelope"></i>Contactos</p>
                <p><i class="fa fa-brands fa-whatsapp"></i>WhatsApp</p>
                <p><i class="fas fa-solid fa-headset"></i>0810-777-0000</p>
            </div>
            <div class="footercolumn4">
                <h2>NEWSLETTER</h2>
                <p>Suscribite y recibe correos personalizados con tus intereses</p>
                <form class="search" action= "http://localhost:3030/home/search" method="GET" role="search">
                    <button type="submit" class="nav-email" tabindex="4"><i class="fas fa-solid fa-at"></i></button>
                    <input type="text" name= "mailBar" placeholder="Ingresar su email..">
                </form>
            </div>
        </div>
        <div class="redes">
            <h6>Seguinos en nuestras redes</h6>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 Sportix - Todos los Derechos Reservados.</small>
    </div>
    </footer> -->

    <%- include('../partials/footer.ejs') %>

</body>
</html>