<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="css/productCreate.css">
    <title>Sportix | Crear Nuevos Productos </title>

</head>
<body>
    <header>
    <nav>
        <a href="/products">Listado de Productos</a>
        <a href="/users/register">Registrar Usuario</a>
    </nav>
    </header>
    <main>
        <h1>Crear Nuevo Producto | SPORTIX</h1>
        <form method="POST" class="createForm" id="CreateForm" action="/productCreate" enctype="multipart/form-data">
          
          <!-- Grupo: Name -->
            <div id="grupo__name">
              <div class="formulario__grupo-input">
              <label for="txtNombre">Nombre del Producto:</label>
              <input class="controls name" type="text" placeholder="Ingresar aqui..." name="name" minlength="5">
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
              <p class="formulario__input-error">El Nombre tiene que tener al menos 5 dígitos y no puede tener caracteres especiales.</p>            
          </div>

            <!-- Grupo: Description -->
            <div id="grupo__description">
              <div>
                <label for="">Descripcion del producto:</label>
                <input class="controls description" name="description" id="controls" cols="30" rows="5" minlength="20"></input>
                <i class="formulario__validacion-estado fas fa-times-circle"></i>  
              </div>
              <p class="formulario__input-error">El campo tiene que tener al menos 20 dígitos.</p>
            </div>
            
            <!-- Grupo: Category -->
            <div>
            <label for="cnbCategoria">Categoria del Producto:</label> 
                <select name="category" id="cnbCategory">
                  <option value="#" selected disabled>Seleccione su Categoria...</option>
                      <% categories.forEach(category => { %>
                        <option value="<%=category.id %>"><%=category.category %></option>
                      <% }); %>
                </select>
            </div>
            
            <!-- Grupo: Size -->
            <div class="size">
            <label  for="size">Seleccionar Talles:</label><br>
              <select name="size">
                <option value="#" selected disabled>Seleccione su talle...</option>
                <% sizes.forEach(size => { %>
                  <option value="<%=size.id %>"><%=size.sizes %></option>
                <% }); %>
              </select>
            </div>
            
            <!-- Grupo: date -->
            <div>
            <label>Fecha de Alta:</label><br>
            <input class="controls date" type="date" placeholder="DD-MM-AAAA"  name="date" ><br>
            </div>

            <!-- Grupo: Price -->
            <div>
            <label>Price:</label><br>
            <input class="controls" type="number" placeholder="Precio del Producto"  name="price" step="0.01" ><br>
            </div>

            <!-- Grupo: Genre -->
            <div>
              <label for="gender">Genero del Producto:</label>
              <select name="gender">
                <option value="#" selected disabled>Seleccione su genero...</option>
                    <% genders.forEach(gender => { %>
                      <option value="<%=gender.id %>"><%=gender.name %></option>
                    <% }); %>
              </select>
            </div>

            <!-- Grupo: brand -->
            <div>
                <label>Marca del Producto:</label>
                <select name="brand">
                  <option value="#" selected disabled>Seleccione su marca...</option>
                      <% brands.forEach(brand => { %>
                        <option value="<%=brand.id %>"><%=brand.name %></option>
                      <% }); %>
                </select>
              </div>

              <!-- Grupo: File -->
            <div>
              <label for="txtImagen">Imagen del Producto:</label>
              <input type="file" name="file" accept=".jpg" multiple>
            </div>

            <div class="botones">
            <button type="submit">ENVIAR</button>
            <button type="reset">Limpiar Contenido</button>
            </div>
        </form>
        <script src="../js/newProduct.js"></script>
    </main>

</body>
</html>
