<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/list.css">
    <title>Sportix | Listado de Productos </title>

</head>
<body>
    <header>
        <nav>
            <a href="#">Listado de Usuarios</a>
            <a href="/productCreate">Crear un nuevo Producto</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="todo">
                <h1>SPORTIX | Listado de Productos</h1>
                <table>
                    <tr>
                        <td>
                            Id
                        </td>
                        <td>
                            Nombre
                        </td>
                        <td>
                            Precio
                        </td>
                        <td>
                            Descuento
                        </td>
                        <td>
                            Categoria
                        </td>
                    </tr>
                
                    <% for(let dato of productos) { %> 
                       <tr>
                        <td>
                            <%= dato.id %>
                           </td>
                           <td>
                            <%= dato.name %>
                           </td>
                           <td>
                            <%= dato.price %>
                           </td>
                           <td>
                            <% if(dato.discount !== null){%>
                                <%= dato.discount + '%'%>
                            <%}else{%>
                                <%= ''%>
                            <% } %> 
                           </td>
                           <td>
                            <%= dato.category %>
                           </td>
                           <td>
                            <button class="editar">Editar Producto</button>
                            <a href="products/<%= dato.id %>/delete"><button class="borrar">Borrar Producto</button></a>
                           </td>
                       </tr>
                    <% } %> 
                </table>
        </section>
    </main>

</body>
</html>