<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/list.css">
    <%- include('../partials/head.ejs') %>
    <title>Listado de Productos</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section>
            <nav class="opciones">
                <a href="/users/usersList"> ← Listado de Usuarios</a>
                <a href="/productCreate">Crear un nuevo Producto →</a>
            </nav>
            
                <h1>SPORTIX | Listado de Productos</h1>
                <div class="table-wrapper">
                <table class="fl-table">
                    <tr>
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Genero</th>
                                <th>Marca</th>
                                <th>Fecha</th>
                                <th>Ver</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                            </thead>
                    <tbody>                   
                         <% for(let dato of productos) { %> 
                        <tr>
                            <td> <%= dato.id %> </td>
                            <td> <%= dato.name %></td>
                            <td> <%= dato.categories.category %></td>            
                            <td> $ <%= dato.price %></td>     
                            <td><%= dato.genders.name %></td>          
                            <td><%= dato.brands.name %></td>                
                            <td><%= dato.date %></td>
                            <td><a href="productDetail/<%= dato.id %>"><button class="editar"><i class="fas fa-solid fa-eye"></i></button></a></td>
                            <td><a href="products/edit/<%= dato.id %>"><button class="editar"><i class="fas fa-solid fa-pen-to-square"></i></button></a></td>
                            <td><a href="products/delete/<%= dato.id %>"><button class="borrar"><i class="fas fa-solid fa-trash"></i></button></a></td>
                       </tr>
                    </tbody>
                    <% } %> 
                </table>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %> 
</body>
</html>