<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../../css/productRegister.css">
    <title>Sportix | Edicion Producto </title>

</head>
<body>
  <header>
    <!-- <nav>
        <a href="/products">Listado de Productos</a>
        <a href="/users/register">Crear un nuevo Usuario</a>
    </nav> -->
  </header>
  <main>
    <div class="form">
      <div class="title">Editar | Sportix</div>
      <div class="subtitle"><%= productos.name %></div>
        <form method="POST" class="createForm" id="CreateForm" action="/products/edit/<%= productos.id %>?_method=PUT" enctype="multipart/form-data">
          <!-- Grupo: Name -->
          <div id="grupo__name">
            <div class="formulario__grupo-input input-container ic1">
              <input id="nombre" class="input name" type="text" placeholder="<%= productos.name %>" name="name" minlength="5">
              <div class="cut"></div>
              <label for="nombre" class="placeholder"><%= productos.name %></label>
              <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
              <p class="formulario__input-error">El Nombre tiene que tener al menos 5 dígitos y no puede tener caracteres especiales.</p>            
          </div>

              <div class="input-container ic2">
                <input id="lastname" class="input" type="text" placeholder=" " />
                <div class="cut"></div>
                <label for="lastname" class="placeholder">Last name</label>
              </div>
              <div class="input-container ic2">
                <input id="email" class="input" type="text" placeholder=" " />
                <div class="cut cut-short"></div>
                <label for="email" class="placeholder">Email />
              </div>
              <button type="text" class="submit">submit</button>
        </form>
    </div>
    <script src="../js/editProduct.js"></script>     
  </main>
</body>
</html>
