<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/productDetail.css">
    <title>Sportix | Detalle de Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main id="maincontent">
        <section>
            <div>

                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Categoria</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section>
            <div class="detail">

                <div>
                    <img class="imagen" src="../img/productsImages/<%= productos.file %>" alt="<%= productos.name %>">
                </div>
                <div class="child">


                    <div>
                        <h1> <%= productos.name %></h1>

                    </div>
                    <div class="columnprices">
                        <span class="prices">
                            <span>$<%= productos.price %></span>
                            <span class="oldprice"><%= productos.oldprice %></span>
                            <span class="saving"><%= productos.discount%> </span>
                        </span>
                    </div>
                    <hr class="separador">

                    <div class="column-size">
                        <label>TALLE</label>
                        <div>
                            <ul class="atributos">
                                <li class="atributos-sizes">XS</li>
                                <li class="atributos-sizes">S</li>
                                <li class="atributos-sizes">M</li>
                                <li class="atributos-sizes">L</li>
                                <li class="atributos-sizes">XL</li>
                            </ul>
                        </div>
                    </div>
                    <hr class="separador">
                    <div class="agregar">
                        <div class="quantity">
                            <input class="input-qty" type="txtNumber" min="1" value="1">
                        </div>
                        <div class="container-comprar">
                            <a href="/productCart"><button class="comprar">Agregar al Carrito</button></a>
                            <i class="fas fa-light fa-heart-circle-plus"></i>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr class="separador2">
        <section>
            <div class="descripcion-producto">
                <h4>DESCRIPCION</h4>
                <br>
                <p><%= productos.description %></p>
                <br>
                <ul>
                    <li>Categoria: <%= productos.categories.category %></li>
                    <li>Genero: <%= productos.genders.name %></li>
                    <li>Marca: <%= productos.brands.name %></li>
                    <li>Tamaño: <%= productos.sizes.sizes %></li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    
                </ul>
            </div>
        </section>

        <hr class="separador2">
        <!--  -->
    </main>
    <hr>

    <%- include('../partials/footer.ejs') %>

</body>

</html>