<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/list.css">
    <title>Sportix | Listado de Productos </title>

</head>
<body>
    <header>
        <nav>
            <a href="/users/usersList">Listado de Usuarios</a>
            <a href="/productCreate">Crear un nuevo Producto</a>
        </nav>
    </header>
    <main>
        <section>
            <div class="todo">
                <h1>SPORTIX | Listado de Productos</h1>
                <table>
                    <tr>
                        <td>
                            Id
                        </td>
                        <td>
                            Nombre
                        </td>
                        <td>
                            Categoria
                        </td>
                        <td>
                            Precio
                        </td>
                        <td>
                            Genero
                        </td>
                        <td>
                            Marca
                        </td>
                        <td>
                            Fecha
                        </td>
                    </tr>
                
                    <% for(let dato of productos) { %> 
                       <tr>
                        <td>
                            <%= dato.id %>
                           </td>
                           <td>
                            <%= dato.name %>
                           </td>
                           <td>
                            <%= dato.category %>
                           </td>
                           <td>
                            <%= dato.price %>
                           </td>
                           <td>
                            <%= dato.gendre %>
                           </td>
                           <td>
                            <%= dato.brand%>
                           </td>
                           <td>
                            <%= dato.date%>
                           </td>
                           <td>
                            <a href="products/<%= dato.id %>/edit"><button class="editar">Editar Producto</button></a>
                            <a href="products/<%= dato.id %>/delete"><button class="borrar">Borrar Producto</button></a>
                           </td>
                       </tr>
                    <% } %> 
                </table>
        </section>
    </main>

</body>
</html>