<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="../css/productDetail.css">
    <title>Sportix | Detalle de Producto</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main id="maincontent">
        <section>
            <div>

                <nav>
                    <ul class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Indumentaria</a></li>
                        <li><a href="#">Categoria</a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section>
            <div class="detail">

                <div>
                    <img class="imagen" src="../img/productsImages/<%= product.file %>" alt="<%= product.name %>">
                </div>
                <div class="child">


                    <div>
                        <h1> <%= product.name %></h1>

                    </div>
                    <div class="columnprices">
                        <span class="prices">
                            <span>$<%= product.price %></span>
                            <span class="oldprice"><%= product.oldprice %></span>
                            <span class="saving"><%= product.discount%> </span>
                        </span>
                    </div>
                    <hr class="separador">

                    <div class="column-size">
                        <label>TALLE</label>
                        <div>
                            <ul class="atributos">
                                <li class="atributos-sizes">XS</li>
                                <li class="atributos-sizes">S</li>
                                <li class="atributos-sizes">M</li>
                                <li class="atributos-sizes">L</li>
                                <li class="atributos-sizes">XL</li>
                            </ul>
                        </div>
                    </div>
                    <hr class="separador">
                    <div class="agregar">
                        <div class="quantity">
                            <input class="input-qty" type="txtNumber" min="1" value="1">
                        </div>
                        <div class="container-comprar">
                            <a href="/productCart"><button class="comprar">Agregar al Carrito</button></a>
                            <i class="fas fa-light fa-heart-circle-plus"></i>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <hr class="separador2">
        <section>
            <div class="descripcion-producto">
                <h4>DESCRIPCION</h4>
                <br>
                <p><%= product.description %></p>
                <br>
                <ul>
                    <li>Categoria: <%= product.category %></li>
                    <li>Genero: <%= product.gendre %></li>
                    <li>Marca: <%= product.brand %></li>
                    <li>Material: Poliéster reciclado.</li>
                    <li>Garantía: Contra defecto de fabricación.</li>
                    <li>Origen: Nacional</li>
                    
                </ul>
            </div>
        </section>

        <hr class="separador2">
        <section>
            <div>
                <section class="Container-Opps">
                    <h3>RECOMENDANDO PARA VOS</h3>
                    <section class="Opps">
                        <% for (let dato of recomendaciones){ %>
                        <div class="boxOpps">
                            <a href="/productDetail/<%= dato.id %>"><img src="../img/productsImages/<%= dato.file %>" class="imgRecomendado"></a>
                            <span class="newPrice">
                                <div>  $ <%= dato.price %></div>
                                <span class="priorPrice">$9.199,00</span>
                                <span class="discuount"> 50% OFF </span>
                            </span>
                        </div>
                        <% } %>
                    </section>
                </section>
            </div>
        </section>
    </main>
    <hr>

    <%- include('../partials/footer.ejs') %>

</body>

</html>